<div class="container border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Número</th>
                <th>Mes Facturado</th>
                <th>Importe</th>
                <th>Fecha de Pago</th>
                <th>Observaciones</th>
                <th>Descargar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
            </tr>
        </tbody>
    </table>
</div>