

.main-content {
    padding: 20px;
}
  
.checkbox-container {
    position: absolute;
    top: 5px;
    right: 10px;
}
  

hr.dark-line {
    border: 1px solid #5f5f5f;
    margin-top: 10px;
    margin-bottom: 20px;
  }
