

<!-- Sidevar del menu-->
<!-- User Navbar -->
<div class="container-fluid p-0">
  <div class="row m-0" style="background-color: #2E6A50; height: 60px;">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <button class="btn my-btn d-lg-none ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <i class="fas fa-bars"></i>
      </button>
      <h1 class="text-white mx-auto">Mis Boletas</h1>
    </div>
  </div>
</div>

<!--  Sidebar cuando la pantalla es pequeña -->
<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Sidebar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" title="Inicio">
          <i class="fas fa-home fw-">  Inicio</i>
         
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Mis Boletas">
          <i class="fas fa-file-invoice"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Reportes">
          <i class="fas fa-chart-pie"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Configuración">
          <i class="fas fa-cog"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Sidebar cuando la pantalla es grande -->
<div class="sidebar d-none d-lg-flex flex-column align-items-center">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#" title="Inicio">
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" title="Mis Boletas">
        <i class="fas fa-file-invoice"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" title="Reportes">
        <i class="fas fa-chart-pie"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" title="Configuración">
        <i class="fas fa-cog"></i>
      </a>
    </li>
  </ul>
</div>

  <div class="main-content">
    <h2>Documentos a pagar</h2>
    <hr class="my-3 dark-line" />

    <div class="row">
      @for (item of documentosAPagar; track $index) {
      <div class="col-12 col-md-6">
        <app-expense-card [billDueDate]="item.fechaEmision" [billAmount]="item.monto"
          (sendAmount)="recieveAmount($event)" />
      </div>
      }

    </div>

    <div class="d-flex justify-content-between align-items-center my-4">
      <h4>Total a Pagar: {{ total | currency: 'USD' }}</h4>
      <button class="btn btn-pagar"  [disabled]="total === 0">Pagar</button>
    </div>

    <h2>Documentos pagados</h2>
    <hr class="my-3 dark-line" />


    <div class="filter-container row">
      <div class="filter-item col-lg-3 col-md-4 col-sm-12 col-12 mb-3">
        <label for="filtroDesde">Desde:</label>
        <input id="filtroDesde" type="date" [(ngModel)]="filtroDesde" class="form-control" />
      </div>
      <div class="filter-item">
        <label for="filtroHasta">Hasta:</label>
        <input id="filtroHasta" type="date" [(ngModel)]="filtroHasta" class="form-control" />
      </div>
      <div class="filter-item">
        <label for="filtroEstado">Estado:</label>
        <select id="filtroEstado" [(ngModel)]="filtroEstado" class="form-control">
          <option value="">Todos</option>
          <option value="Pagado">Pagado</option>
          <option value="Pendiente">Pendiente</option>
        </select>
      </div>
      <div class="filter-item">
        <label>&nbsp;</label>
        <button class="btn btn-success form-control">Buscar</button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha de pago</th>
          <th>Periodo</th>
          <th>Importe</th>
          <th>Estado</th>
          <th>Descargar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let boleta of boletasPagadasFiltradas">
          <td>{{ boleta.fechaEmision }}</td>
          <td>{{ boleta.periodo }}</td>
          <td>${{ boleta.monto }}</td>
          <td>{{ boleta.estado }}</td>
          <td><a href="#"><i class="fas fa-download download-icon"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>