<div class="container-fluid p-0">
  <div class="row m-0" style="background-color: #2E6A50; height: 60px;">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <button class="btn my-btn d-lg-none ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
        <i class="fas fa-bars"></i>
      </button>
      <h1 class="text-white mx-auto">Mis Boletas</h1>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Sidebar</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" title="Inicio">
          <i class="fas fa-home fw-">  Inicio</i>
         
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Mis Boletas">
          <i class="fas fa-file-invoice"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Reportes">
          <i class="fas fa-chart-pie"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" title="Configuración">
          <i class="fas fa-cog"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="sidebar d-none d-lg-flex flex-column align-items-center">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#" title="Inicio">
        <i class="fas fa-home"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" title="Mis Boletas">
        <i class="fas fa-file-invoice"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" title="Reportes">
        <i class="fas fa-chart-pie"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" title="Configuración">
        <i class="fas fa-cog"></i>
      </a>
    </li>
  </ul>
</div>


<div class="main-content" *ngIf="boletas$ | async">
  <div class="d-flex justify-content-center">
    
  <h2 style="padding: 15px;">DOCUMENTOS A PAGAR</h2>
  
  </div>
  <div class="green-line"></div>
  <h4 style="padding: 20px;">Seleccione la boleta a PAGAR : </h4>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3" *ngFor="let boleta of documentosAPagar">
      <div class="card h-100">
        <label class="w-100 h-100" style=" border-radius: 25px; min-height: 50px;"> 
          <input type="checkbox" [(ngModel)]="boleta.selected" (change)="updateTotalAPagar()" />
          <div class="card-body">
            <h5 class="card-title">Periodo: {{ boleta.period }}</h5>
            <p class="card-text text-danger">Vencimiento: {{ boleta.first_expiration_date }}</p>
            <p class="card-text">${{ boleta.first_expiration_amount }}</p>
            <button class="btn btn-primary" (click)="openPdf(boleta.id)">
              <i class="fas fa-print"></i>
            </button>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center my-4">
    <h4>Total a Pagar: {{ totalAPagar | currency: 'USD' }}</h4>
    <button class="btn btn-pagar" (click)="pagar()" [disabled]="totalAPagar === 0" style="width: 200px;">Pagar</button>
  </div>
  <div class="row" style="border-radius: 5px; color: green; border-color: green;"></div>
  <div class="d-flex justify-content-center">
  <h2>DOCUMENTOS PAGADOS</h2>
  </div>
  <div class="green-line"></div>
  <div class="filter-container row">
    <div class="filter-item col-lg-3 col-md-4 col-sm-12 col-12 mb-3">
      <label for="filtroDesde">Desde:</label>
      <input id="filtroDesde" type="date" [(ngModel)]="filtroDesde" class="form-control" />
    </div>
    <div class="filter-item">
      <label for="filtroHasta">Hasta:</label>
      <input id="filtroHasta" type="date" [(ngModel)]="filtroHasta" class="form-control" />
    </div>
    <div class="filter-item">
      <label for="filtroEstado">Estado:</label>
      <select id="filtroEstado" [(ngModel)]="filtroEstado" class="form-control">
        <option value="">Todos</option>
        <option value="Pago">Pagado</option>
        <option value="Exceptuado">Exceptuado</option>
      </select>
    </div>
    <div class="filter-item">
      <label>&nbsp;</label>
      <button class="btn btn-success form-control" (click)="buscar()">Buscar</button>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Fecha de pago</th>
        <th>Periodo</th>
        <th>Importe</th>
        <th>Estado</th>
        <th>Descargar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boleta of boletasPagadasFiltradas">
        <td>{{ boleta.first_expiration_date }}</td>
        <td>{{ boleta.period }}</td>
        <td>${{ boleta.first_expiration_amount }}</td>
        <td>{{ boleta.status }}</td>
        <td><a href="#" (click)="openPdf(boleta.id)"><i class="fas fa-download download-icon"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>