<div class="container mt-4">
  <div class="row">
    <!-- Payment form -->
    <div class="col-12 col-md-7 mt-3 mb-3">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title text-center">Datos de la Tarjeta</h3>
          <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="p-5">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="cardHolderName" formControlName="cardHolderName" placeholder="Nombre del titular">
              <label for="cardHolderName">Nombre del titular</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="DNI">
              <label for="dni">DNI</label>
            </div>

            <div id="card-element" class="card-input mt-3 p-2 border-bottom border-primary">
              <!-- Stripe Card Element will be mounted here -->
            </div>

            <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>

            <div *ngIf="paymentStatusMessage" class="alert" [ngClass]="{'alert-success': paymentSuccessful, 'alert-danger': !paymentSuccessful}" role="alert">
              {{ paymentStatusMessage }}
            </div>

            <div class="row mt-4">
              <div class="col-12 col-md-3">
                <button type="button" class="btn w-100 btn-outline-secondary" (click)="goBack()">Volver</button>
              </div>
              <div class="col-12 col-md-9">
                <button type="submit" class="btn w-100 btn-primary" [disabled]="processing || paymentForm.invalid">
                  {{ processing ? 'Procesando...' : 'Pagar' }}
                </button>
              </div>
            </div>
          </form>

          <div *ngIf="paymentSuccessful" class="mt-3">
            <button class="btn btn-success" (click)="downloadReceipt()">Descargar Comprobante</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Payment Info -->
    <div class="col-12 col-md-5 mt-3">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center">
            <ng-container [ngSwitch]="paymentMethod">
              <svg *ngSwitchCase="2" xmlns="http://www.w3.org/2000/svg" width="120" height="90" viewBox="0 0 150 104">
                <!-- MercadoPago SVG path here -->
              </svg>
              <svg *ngSwitchDefault xmlns="http://www.w3.org/2000/svg" width="140" height="70" viewBox="0 0 512 214">
                <!-- Stripe SVG path here -->
              </svg>
            </ng-container>
          </h5>
          <hr>

          <h6 class="text-center mb-3">Expensas seleccionadas</h6>
          <div *ngFor="let item of expensesToPay" class="d-flex justify-content-center">
            <div class="card text-center border-0 mb-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ item.period | date:"MM/yyyy" }}</h5>
                <p class="card-text">{{ item.first_expiration_amount | currency }}</p>
              </div>
            </div>
          </div>
          <hr>

          <div class="d-flex mt-5 justify-content-center">
            <h3>Total: {{ total | currency }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
